<footer id="footer" class=" py-4">
    <div id="footer-info" class="container text-center ">
        <div id="footer-socials" class="d-flex justify-content-center mb-3 gap-3">
            <a href="https://www.facebook.com/englishconversationinsitamarhi/" class="text-secondary">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/amitraj_stm/" class="text-secondary">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://x.com/Amit_Raj_Stm" class="text-secondary">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/amitkumarraj1" class="text-secondary">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div id="footer-copyright" class="mb-2">
            &#169; Wanderlust Private Limited
        </div>
        <div id="footer-links" class="d-flex justify-content-center gap-3">
            <a href = "/listings/privacy" class="text-secondary text-decoration-none">Privacy Policy</a>
            <a href="/listings/terms" class="text-secondary text-decoration-none">Terms</a>
        </div>
    </div>
</footer>

