<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
<script type="text/javascript">
var gform;gform||(document.addEventListener("gform_main_scripts_loaded",function(){gform.scriptsLoaded=!0}),window.addEventListener("DOMContentLoaded",function(){gform.domLoaded=!0}),gform={domLoaded:!1,scriptsLoaded:!1,initializeOnLoaded:function(o){gform.domLoaded&&gform.scriptsLoaded?o():!gform.domLoaded&&gform.scriptsLoaded?window.addEventListener("DOMContentLoaded",o):document.addEventListener("gform_main_scripts_loaded",o)},hooks:{action:{},filter:{}},addAction:function(o,n,r,t){gform.addHook("action",o,n,r,t)},addFilter:function(o,n,r,t){gform.addHook("filter",o,n,r,t)},doAction:function(o){gform.doHook("action",o,arguments)},applyFilters:function(o){return gform.doHook("filter",o,arguments)},removeAction:function(o,n){gform.removeHook("action",o,n)},removeFilter:function(o,n,r){gform.removeHook("filter",o,n,r)},addHook:function(o,n,r,t,i){null==gform.hooks[o][n]&&(gform.hooks[o][n]=[]);var e=gform.hooks[o][n];null==i&&(i=n+"_"+e.length),gform.hooks[o][n].push({tag:i,callable:r,priority:t=null==t?10:t})},doHook:function(n,o,r){var t;if(r=Array.prototype.slice.call(r,1),null!=gform.hooks[n][o]&&((o=gform.hooks[n][o]).sort(function(o,n){return o.priority-n.priority}),o.forEach(function(o){"function"!=typeof(t=o.callable)&&(t=window[t]),"action"==n?t.apply(null,r):r[0]=t.apply(null,r)})),"filter"==n)return r[0]},removeHook:function(o,n,t,i){var r;null!=gform.hooks[o][n]&&(r=(r=gform.hooks[o][n]).filter(function(o,n,r){return!!(null!=i&&i!=o.tag||null!=t&&t!=o.priority)}),gform.hooks[o][n]=r)}});
</script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 7 ]> <script>document.documentElement.className+=' ie6';</script> <![endif]-->
  <!--[if IE 7 ]>    <script>document.documentElement.className+=' ie7';</script> <![endif]-->
  <!--[if IE 8 ]>    <script>document.documentElement.className+=' ie8';</script> <![endif]-->
  <link rel="pingback" href="https://wanderlust.com/xmlrpc.php">

  <script>
(function(g,e,o,id,t,a,r,ge,tl,y,s){
g.getElementsByTagName(o)[0].insertAdjacentHTML('afterbegin','<style id="georedirect-M_5XUQ7_wqGX0iExNcestyle">body{opacity:0.0 !important;}</style>');
s=function(){g.getElementById('georedirect-M_5XUQ7_wqGX0iExNcestyle').innerHTML='body{opacity:1.0 !important;}';};
t=g.getElementsByTagName(o)[0];y=g.createElement(e);y.async=true;
y.src='https://g10102301085.co/gr?id=-M_5XUQ7_wqGX0iExNce&refurl='+g.referrer+'&winurl='+encodeURIComponent(window.location);
t.parentNode.insertBefore(y,t);y.onerror=function(){s()};
georedirectLoaded="undefined" != typeof georedirectLoaded ? georedirectLoaded:{};
georedirectLoaded['-M_5XUQ7_wqGX0iExNce'] = function(redirect){var to=0;if(redirect){to=5000};setTimeout(function(){s();},to)};
setTimeout(function(){s();}, 8000);
})(document,'script','head');
</script><meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
<link rel="alternate" hreflang="en-us" href="https://wanderlust.com/privacy-policy/" />
<link rel="alternate" hreflang="x-default" href="https://wanderlust.com/privacy-policy/" />

	<!-- This site is optimized with the Yoast SEO Premium plugin v18.0 (Yoast SEO v21.1) - https://yoast.com/wordpress/plugins/seo/ -->
	<title>| Wanderlust</title>
	<link rel="canonical" href="https://wanderlust.com/privacy-policy/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Wanderlust Privacy Policy" />
	<meta property="og:description" content="Privacy Policy Your privacy is important to us at Wanderlust Products Pty Ltd (ACN 634 882 830) (Wanderlust).&hellip;" />
	<meta property="og:url" content="https://wanderlust.com/privacy-policy/" />
	<meta property="og:site_name" content="Wanderlust" />
	<meta property="article:publisher" content="https://facebook.com/wanderlust" />
	<meta property="article:modified_time" content="2024-08-15T13:20:31+00:00" />
	<meta name="twitter:label1" content="Est. reading time" />
	<meta name="twitter:data1" content="8 minutes" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebPage","@id":"https://wanderlust.com/privacy-policy/","url":"https://wanderlust.com/privacy-policy/","name":"| Wanderlust","isPartOf":{"@id":"https://wanderlust.com/#website"},"datePublished":"2013-12-04T08:07:36+00:00","dateModified":"2024-08-15T13:20:31+00:00","breadcrumb":{"@id":"https://wanderlust.com/privacy-policy/#breadcrumb"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://wanderlust.com/privacy-policy/"]}]},{"@type":"BreadcrumbList","@id":"https://wanderlust.com/privacy-policy/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://wanderlust.com/"},{"@type":"ListItem","position":2,"name":"Privacy Policy"}]},{"@type":"WebSite","@id":"https://wanderlust.com/#website","url":"https://wanderlust.com/","name":"Wanderlust","description":"Your guidepost on the path towards a healthy &amp; inspired life. Find your true north.","publisher":{"@id":"https://wanderlust.com/#organization"},"potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://wanderlust.com/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"Organization","@id":"https://wanderlust.com/#organization","name":"Wanderlust","url":"https://wanderlust.com/","logo":{"@type":"ImageObject","inLanguage":"en-US","@id":"https://wanderlust.com/#/schema/logo/image/","url":"https://wanderlust.com/wp-content/uploads/2022/01/WL_Logo_Grey-05.png","contentUrl":"https://wanderlust.com/wp-content/uploads/2022/01/WL_Logo_Grey-05.png","width":1200,"height":1200,"caption":"Wanderlust"},"image":{"@id":"https://wanderlust.com/#/schema/logo/image/"},"sameAs":["https://facebook.com/wanderlust","https://twitter.com/wanderlustfest","https://www.instagram.com/wanderlustfest/","https://www.linkedin.com/company/wanderlustfestival","https://www.pinterest.com/wanderlustfest","https://www.youtube.com/user/wanderlustfestival"]}]}</script>
	<!-- / Yoast SEO Premium plugin. -->


<link rel='dns-prefetch' href='//code.jquery.com' />
<link rel='dns-prefetch' href='//netdna.bootstrapcdn.com' />
<link rel="alternate" type="application/rss+xml" title="Wanderlust &raquo; Feed" href="https://wanderlust.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Wanderlust &raquo; Comments Feed" href="https://wanderlust.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Wanderlust &raquo; Privacy Policy Comments Feed" href="https://wanderlust.com/privacy-policy/feed/" />
<link rel='stylesheet' id='classic-theme-styles-css' href='https://wanderlust.com/wp-includes/css/classic-themes.min.css?ver=1' type='text/css' media='all' />
<style id='global-styles-inline-css' type='text/css'>
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;}:where(.is-layout-flex){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}
.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;}
</style>
<link rel='stylesheet' id='wpml-legacy-horizontal-list-0-css' href='https://wanderlust.com/wp-content/plugins/sitepress-multilingual-cms/templates/language-switchers/legacy-list-horizontal/style.min.css?ver=1' type='text/css' media='all' />
<style id='wpml-legacy-horizontal-list-0-inline-css' type='text/css'>
.wpml-ls-statics-shortcode_actions{background-color:#eeeeee;}.wpml-ls-statics-shortcode_actions, .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu, .wpml-ls-statics-shortcode_actions a {border-color:#cdcdcd;}.wpml-ls-statics-shortcode_actions a, .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu a, .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu a:link, .wpml-ls-statics-shortcode_actions li:not(.wpml-ls-current-language) .wpml-ls-link, .wpml-ls-statics-shortcode_actions li:not(.wpml-ls-current-language) .wpml-ls-link:link {color:#444444;background-color:#ffffff;}.wpml-ls-statics-shortcode_actions a, .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu a:hover,.wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu a:focus, .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu a:link:hover, .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu a:link:focus {color:#000000;background-color:#eeeeee;}.wpml-ls-statics-shortcode_actions .wpml-ls-current-language > a {color:#444444;background-color:#ffffff;}.wpml-ls-statics-shortcode_actions .wpml-ls-current-language:hover>a, .wpml-ls-statics-shortcode_actions .wpml-ls-current-language>a:focus {color:#000000;background-color:#eeeeee;}
</style>
<link rel='stylesheet' id='font-awesome-css' href='//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css?ver=4.4.0' type='text/css' media='all' />
<link rel='stylesheet' id='_s-style-css' href='https://wanderlust.com/wp-content/themes/wanderlust/style.css?ver=6.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='single-css' href='https://wanderlust.com/wp-content/themes/wanderlust/assets/css/single.css?ver=6.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='page-css' href='https://wanderlust.com/wp-content/themes/wanderlust/assets/css/pages.css?ver=6.2.2' type='text/css' media='all' />
<script type='text/javascript' src='//code.jquery.com/jquery-2.2.4.min.js?ver=2.2.4' id='jquery-js'></script>
<link rel="https://api.w.org/" href="https://wanderlust.com/wp-json/" /><link rel="alternate" type="application/json" href="https://wanderlust.com/wp-json/wp/v2/pages/75" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://wanderlust.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://wanderlust.com/wp-includes/wlwmanifest.xml" />
<link rel='shortlink' href='https://wanderlust.com/?p=75' />
<link rel="alternate" type="application/json+oembed" href="https://wanderlust.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwanderlust.com%2Fprivacy-policy%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://wanderlust.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwanderlust.com%2Fprivacy-policy%2F&#038;format=xml" />
<meta name="generator" content="WPML ver:4.6.10 stt:1,4,3,27,28,29,43,46,2;" />
		<script>
			document.documentElement.className = document.documentElement.className.replace( 'no-js', 'js' );
		</script>
				<style>
			.no-js img.lazyload { display: none; }
			figure.wp-block-image img.lazyloading { min-width: 150px; }
							.lazyload, .lazyloading { opacity: 0; }
				.lazyloaded {
					opacity: 1;
					transition: opacity 400ms;
					transition-delay: 0ms;
				}
					</style>
		<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3252bf638e8eb23d7ebc4af05/cd8f5d0f1d9e3dcac239e6f9e.js");</script>
  <link rel="shortcut icon" href="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/favicon/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/favicon/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/favicon/apple-touch-icon-152x152.png" />



    <script>
(function(g,e,o,t,a,r,ge,tl,y){
t=g.getElementsByTagName(e)[0];y=g.createElement(e);y.async=true;
y.src='https://g594253006.co/gj.js?id=-N1Nu1t6MkKn_gRqD-1l&refurl='+g.referrer+'&winurl='+encodeURIComponent(window.location);
t.parentNode.insertBefore(y,t);
})(document,'script');
</script>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M7JX4F');</script>

<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
<script>
  window.googletag = window.googletag || {cmd: []};
  googletag.cmd.push(function() {
    googletag.defineSlot('/69492666/maude-hirst', ['fluid'], 'div-gpt-ad-1620448466499-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
		<style type="text/css" id="wp-custom-css">
			body .gform_wrapper .top_label div.ginput_container.ginput_recaptcha {
	overflow: hidden;
}

.content-block--rich-text .gform_wrapper ul.gform_fields li.gfield {
	padding: 0;
}

.footer__logo-image {
	display:none;
		}
	
.footer__ccpa {
		display:none !important;

}		</style>
		
  <!--[if lt IE 9]>
  <script src="https://wanderlust.com/wp-content/themes/wanderlust/js/vendor/html5.js"></script>
  <script src="https://wanderlust.com/wp-content/themes/wanderlust/js/vendor/respond.min.js"></script>
  <link href="https://wanderlust.com/wp-content/themes/wanderlust/js/vendor/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
  <script src="https://wanderlust.com/wp-content/themes/wanderlust/js/vendor/respond.proxy.js"></script>
  <![endif]-->

  </head>

<body class="page-template-default page page-id-75 group-blog en" data-header-type="async" data-header-base="https://wanderlust.com/">

<noscript><iframe 
height="0" width="0" style="display:none;visibility:hidden" data-src="https://www.googletagmanager.com/ns.html?id=GTM-M7JX4F" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></noscript>
<a class="skip_link" href="#main-content-anchor">Skip to Main Content</a>
<div class="header-static-wrapper">
<header class="header header--main js-header"
  data-module-init="fixed-header"
  data-current-lang="en"
  data-current-country="us"
>
  <div class="header__container">
    <div class="topbar topbar--global">
  <div class="topbar__container">
          <div class="topbar__intro">
        Find Your True North      </div>
        <div class="topbar__nav">
      <div class="lang-switcher" data-module-init="lang-switcher" role="menubar" aria-label="Language Switcher" tabindex="0">
        <div class="lang-switcher__item lang-switcher__item-active">
		  <img  alt="en" data-src="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/flags/us.png" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img src="https://wanderlust.com/wp-content/themes/wanderlust/assets/img/flags/us.png" alt="en"></noscript>
        <span>en</span>
      </div>
            <nav class="lang-switcher__dropdown">
		<ul class="lang-switcher__submenu lang-switcher__submenu--level1"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span>Region</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">US &amp; Canada</span><ul class="lang-switcher__submenu lang-switcher__submenu--level2"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="us" data-language="en" href="https://wanderlust.com/" tabindex="-1" aria-label="Change language to English and location to US &amp; Canada">English</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Europe</span><ul class="lang-switcher__submenu lang-switcher__submenu--level2"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Country</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Austria</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="at" data-language="de" href="https://wanderlust.com/de/aut/" tabindex="-1" aria-label="Change language to German and location to Austria">German</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">France</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="fr" data-language="fr" href="https://wanderlust.com/fr/fra/" tabindex="-1" aria-label="Change language to French and location to France">French</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Germany</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="de" data-language="de" href="https://wanderlust.com/de/deu/" tabindex="-1" aria-label="Change language to German and location to Germany">German</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Italy</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="it" data-language="it" href="https://wanderlust.com/it/ita/" tabindex="-1" aria-label="Change language to Italian and location to Italy">Italian</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Romania</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="ro" data-language="ro" href="https://wanderlust.com/ro/rou/" tabindex="-1" aria-label="Change language to Romanian and location to Romania">Romanian</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Switzerland</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="ch" data-language="fr" href="https://wanderlust.com/fr/che/" tabindex="-1" aria-label="Change language to French and location to Switzerland">French</a></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="ch" data-language="de" href="https://wanderlust.com/de/che/" tabindex="-1" aria-label="Change language to German and location to Switzerland">German</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">United Kingdom</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="gb" data-language="en" href="https://wanderlust.com/gbr/" tabindex="-1" aria-label="Change language to English and location to United Kingdom">English</a></li></ul></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Portugal</span><ul class="lang-switcher__submenu lang-switcher__submenu--level2"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="pt" data-language="pt-pt" href="https://wanderlust.com/pt-pt/prt/" tabindex="-1" aria-label="Change language to Portuguese and location to Portugal">Portuguese</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Spain</span><ul class="lang-switcher__submenu lang-switcher__submenu--level2"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="es" data-language="es" href="https://wanderlust.com/es/esp/" tabindex="-1" aria-label="Change language to Spanish and location to Spain">Spanish</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Latin America</span><ul class="lang-switcher__submenu lang-switcher__submenu--level2"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Country</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Mexico</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="mx" data-language="es" href="https://wanderlust.com/es/mex/" tabindex="-1" aria-label="Change language to Spanish and location to Mexico">Spanish</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Chile</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="cl" data-language="es" href="https://wanderlust.com/es/chl/" tabindex="-1" aria-label="Change language to Spanish and location to Chile">Spanish</a></li></ul></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Asia</span><ul class="lang-switcher__submenu lang-switcher__submenu--level2"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="jp" data-language="ja" href="https://wanderlust.com/ja/jpn/" tabindex="-1" aria-label="Change language to Japanese and location to Japan">Japanese</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">South Korea</span><ul class="lang-switcher__submenu lang-switcher__submenu--level2"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="kr" data-language="ko" href="https://wanderlust.com/ko/kor/" tabindex="-1" aria-label="Change language to Korean and location to South Korea">Korean</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Australia &amp; NZ</span><ul class="lang-switcher__submenu lang-switcher__submenu--level2"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Country</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">Australia</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="au" data-language="en" href="https://wanderlust.com/aus/" tabindex="-1" aria-label="Change language to English and location to Australia">English</a></li></ul></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><span aria-haspopup="true" aria-expanded="false">New Zealand</span><ul class="lang-switcher__submenu lang-switcher__submenu--level3"><li class="lang-switcher__subitem lang-switcher__subitem--header" tabindex="-1"><span class="icon-back"></span> <span>Language</span></li><li class="lang-switcher__subitem lang-switcher__subitem--button" role="menuitem" tabindex="0"><a data-country="nz" data-language="en" href="https://wanderlust.com/nzl/" tabindex="-1" aria-label="Change language to English and location to New Zealand">English</a></li></ul></li></ul></li></ul>  </div>
      <ul class="global-header__social">
        <li class="global-header__social-item"><a href="http://facebook.com/wanderlust" class="icon-facebook2 global-header__social-link" target="_blank"></a></li>
        <li class="global-header__social-item"><a href="http://twitter.com/wanderlustfest" class="icon-twitter2 global-header__social-link" target="_blank"></a></li>
        <li class="global-header__social-item"><a href="http://instagram.com/wanderlustfest" class="icon-instagram2 global-header__social-link" target="_blank"></a></li>
      <li class="global-header__social-item"><a href="http://www.pinterest.com/wanderlustfest" class="icon-pinterest2 global-header__social-link" target="_blank"></a></li>
      <li class="global-header__social-item"><a href="http://youtube.com/wanderlustfestival" class="icon-youtube-play global-header__social-link" target="_blank"></a></li>
          <li class="global-header__social-item"><a href="https://open.spotify.com/user/wanderlustfest" class="icon-spotify global-header__social-link" target="_blank"></a></li>
  </ul>
              <div class="topbar__cta">
          <a href="https://wanderlust.com/events/" class="topbar__button"><span>Attend an Event</span></a>
        </div>
          </div>
  </div>
</div>
<div class="global-header header--global header--two-menus" data-module-init="global-header">
  <div class="global-header__container">
    <div class="nav-trigger__inner">
  <button class="nav-trigger" type="button" data-module-init="toggle-class" data-toggle-class="js-nav-trigger--active" aria-label="Toggle mobile navigation">
      <span class="nav-trigger__bar nav-trigger__bar--top"></span>
      <span class="nav-trigger__bar nav-trigger__bar--middle"></span>
      <span class="nav-trigger__bar nav-trigger__bar--bottom"></span>
  </button>
</div>
    <div class="global-header__logo">
      <a href="https://wanderlust.com" aria-label="Wanderlust" title="Wanderlust">
      <img data-lazy src="data:image/gif;base64,R0lGODlhAQABAAAAADs=" data-fallback="https://wanderlust.com/wp-content/uploads/2018/12/wanderlust-logo.svg" alt="wanderlust-logo">
    <span class="hidden-text">Wanderlust</span>
</a>
    </div>
  </div>
</div>
  </div>
</header>
<nav class="slideout slideout--global" data-module-init="slideout" role="menubar" aria-label="Main Navigation">
  <div class="slideout__wrapper">
    <a class="slideout__logo" href="https://wanderlust.com/">
              <img data-lazy src="data:image/gif;base64,R0lGODlhAQABAAAAADs=" data-fallback="https://wanderlust.com/wp-content/uploads/2018/12/wanderlust-logo.svg" alt="wanderlust-logo">
          </a>
    <ul id="menu-global-nav" class="slideout__menu slideout__menu--global"><li id="menu-item-63162" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-63162"><a target="_blank" rel="noopener" href="https://wanderlust.events">Events</a></li>
<li id="menu-item-63163" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-63163"><a target="_blank" rel="noopener" href="https://wanderlust.tv/">Online Classes</a></li>
<li id="menu-item-109411" class="js-slideout-journals menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-has-children menu-item-109411 menu-item-journal menu-item-109411"><a href="https://wanderlust.com/journal/">Journal</a></li>
<li id="menu-item-288635" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-288635"><a target="_blank" rel="noopener" href="https://wanderlust.shop/">Supplements</a></li>
</ul><footer class="slideout__footer">
      <div class="slideout__cta">
      <a href="https://wanderlust.com/events/" class="slideout__button"><span>Attend an Event</span></a>
    </div>
    <ul class="global-header__social">
        <li class="global-header__social-item"><a href="http://facebook.com/wanderlust" class="icon-facebook2 global-header__social-link" target="_blank"></a></li>
        <li class="global-header__social-item"><a href="http://twitter.com/wanderlustfest" class="icon-twitter2 global-header__social-link" target="_blank"></a></li>
        <li class="global-header__social-item"><a href="http://instagram.com/wanderlustfest" class="icon-instagram2 global-header__social-link" target="_blank"></a></li>
      <li class="global-header__social-item"><a href="http://www.pinterest.com/wanderlustfest" class="icon-pinterest2 global-header__social-link" target="_blank"></a></li>
      <li class="global-header__social-item"><a href="http://youtube.com/wanderlustfestival" class="icon-youtube-play global-header__social-link" target="_blank"></a></li>
          <li class="global-header__social-item"><a href="https://open.spotify.com/user/wanderlustfest" class="icon-spotify global-header__social-link" target="_blank"></a></li>
  </ul>
</footer>
  </div>
</nav>
<div class="slideout__overlay" data-module-init="toggle-class" data-toggle-class="js-nav-trigger--active"></div>
</div>
<div class="main-wrapper" tabindex="0">
  <div id="page" class="hfeed site container-fluid">


   <div class="container ">

        <div id="content" class="site-content clearfix">

			<div id="primary" class="content-area clearfix">
				<main id="main" class="site-main" role="main">

					
						
<article id="post-75" class="post-75 page type-page status-publish hentry">
	
							
							
	<header class="entry-header">
		<h1 class="entry-title">Privacy Policy</h1> 
	 </header><!-- .entry-header -->




	<div class="entry-content">
		<div class="featured-image">
				</div>				


		<div class="o-wrapper pt-m">
<h1 class="h1-alt animate animated full-visible">Privacy Policy</h1>
</div>
<div class="o-wrapper">
<div class="c-cms-content animate pb-m animated">
<p><strong>Your privacy is important to us at Wanderlust Products Pty Ltd (ACN 634 882 830) (Wanderlust).</strong></p>
<p>This Privacy Policy applies to any personal information we collect about you and sets out how we collect, use, store and disclose such personal information, including sensitive and health information.</p>
<p>We comply with the Australian Privacy Principles contained in the Privacy Act 1988 (Cth) (Privacy Act).</p>
<p>By using our services and providing personal information to us, you consent to our collection, use, storage and disclosure of your personal information in accordance with this Privacy Policy.</p>
<hr />
<p>&nbsp;</p>
<p>1.<strong>THE TYPE OF INFORMATION WE COLLECT</strong></p>
<p>The type of personal information we collect from you depends on your dealings with us. Where possible, we collect personal information directly from you. The personal information we collect from you may include, but is not limited to:</p>
<p>1.1 information about your identity, including your name and contact details (such as your address, email address, telephone number);</p>
<p>1.2. your age, gender and date of birth;</p>
<p>1.3. your company name (if applicable);</p>
<p>1.4. your credit card or other financial details;</p>
<p>1.5. information relating to your personal health, fitness and wellbeing;</p>
<p>1.6. information about your device, your location, websites visited and your IP address;</p>
<p>1.7. information about the products and services you view on our website for re-marketing purposes;</p>
<p>1.8. information about your shopping preferences or purchase history;</p>
<p>1.9. details of the products and services you have enquired about or ordered through us;</p>
<p>1.10. information you provide to us directly through our website or indirectly through your use of our website;</p>
<p>1.11. information you provide to us through competitions, surveys (including our online health and wellbeing surveys) or other promotional activities; and/or</p>
<p>1.12. other personal or sensitive information that you may provide to us from time to time or that we may collect during the course of providing our services to you.</p>
<hr />
<p>&nbsp;</p>
<p><strong>2. HOW WE COLLECT INFORMATION</strong></p>
<p>We may collect personal information about you in a number of ways. Primarily, we will collect information from you when you purchase our products, use our website (including ordering products online), join one of our mailing lists, participate in our surveys (including our online health and wellbeing surveys), enrol in a seminar, workshop or other training opportunity with us, communicate with us or any other time you provide personal information to us.</p>
<p>We may also collect personal information from you through cookies used on our website (discussed further below).</p>
<hr />
<p>&nbsp;</p>
<p><strong>3. COOKIES</strong></p>
<p>Some information may be automatically collected through our use of ‘cookies’ on the website. Cookies are small files installed in your website browser or on your device used to recognise customers that revisit  our website and to help us enhance and customise your experience. Cookies provide us with information about customer behaviour such as pages viewed, products purchased and the customer journey around our website. Information collected from cookies may include personal information.</p>
<p>The default setting of most internet browsers enables the acceptance of cookies. Through your internet browser you can disable cookies, delete cookies installed in the past, prevent the placement of certain cookies or ask to be notified every time a request is made to place a cookie. Please note however that our website may not work as intended if you disable or prevent the placement of certain cookies.</p>
<hr />
<p>&nbsp;</p>
<p><strong>4. THE REASONS WE COLLECT, USE AND DISCLOSE PERSONAL INFORMATION</strong></p>
<p>We generally use and disclose your personal information for the purpose for which it is collected, including:</p>
<p>4.1. to provide you with products and services, including product and service recommendations, and to allow you to access and use our website;</p>
<p>4.2. for marketing and promotional purposes, including to send you information about our products and services (and the products and services of our partners), competitions, surveys or other promotions and value-add services that we think may be on interest to you;</p>
<p>4.3. to send you communications, respond to your enquiries or to provide information requested by you; and</p>
<p>4.4. to comply with our legal obligations, handle any disputes, queries or complaints, investigate or detect crime, fraud or anti-social behaviour and enforce our agreements with third parties.</p>
<hr />
<p>&nbsp;</p>
<p><strong>5. SHARING YOUR PERSONAL INFORMATION</strong></p>
<p>Your personal information may be disclosed to our employees, officers, directors or related bodies corporate.</p>
<p>We may also disclose your information to third party partners, service providers and contractors with whom we work. This may include our website host providers, payment operators, promotional partners or other third parties who provide services to us or on our behalf or to whom we provide services. Where you have expressly authorised a third party to receive certain information held by us, we will disclose such information to that authorised third party.</p>
<p>If our business or assets are sold or transferred, we may disclose your personal information to the purchaser, potential purchaser (including their advisors) or any successor in title of our business and/or assets.</p>
<p>Your personal information may also be disclosed to regulatory or investigative bodies, government or law enforcement agencies or as otherwise required or permitted by law. In such circumstances we are not under an obligation to try and restrict disclosure of your personal information.</p>
<hr />
<p>&nbsp;</p>
<p><strong>6. PROMOTIONAL COMMUNICATIONS</strong></p>
<p>From time to time, we may send you promotional communications and information about our products and services or the services of our trusted third party partners.</p>
<p>If you prefer to not receive promotional communications from us, you may opt-out or withdraw your consent at any time by contacting us or by using the unsubscribe facility we offer in our electronic messages.</p>
<hr />
<p>&nbsp;</p>
<p><strong>7. INTERNATIONAL DATA HOSTING AND TRANSFERS</strong></p>
<p>Some of our trusted third party suppliers and contractors are located outside of Australia.</p>
<p>You consent to the disclosure of your information to our third party suppliers and contractors including those located in Australia and overseas.</p>
<p>We will take reasonable steps to ensure that any overseas third party suppliers or contractors deal with personal information in a way that is consistent with the Privacy Act however you acknowledge that we cannot prevent the use (or misuse) of personal information by others.</p>
<hr />
<p>&nbsp;</p>
<p><strong>8. SECURITY OF YOUR PERSONAL INFORMATION</strong></p>
<p>Security of your personal information is important to us and we take reasonable steps to protect the personal information we hold from misuse, interference and loss, as well as unauthorised access, modification or disclosure, as required by the Privacy Act. For example, data is protected through usernames and passwords and the software programs we use encrypt information as it is transmitted over the internet through Secure Sockets Layer Certificates.</p>
<p>While we endeavour to ensure your personal information is protected, we cannot guarantee the security of personal information you disclose to us.</p>
<hr />
<p>&nbsp;</p>
<p><strong>9. THIRD PARTY WEBSITES</strong></p>
<p>We may display content or links to websites operated by third parties on our website. Such content or links are not operated by us and are provided for your convenience only.</p>
<p>If you click on any content or links of a third party you may leave the Wanderlust website, in which case the collection, use, storage and disclosure of your personal information will be governed by the privacy policies and practices of the relevant third party. We are not responsible for the privacy or security practices of third party websites.</p>
<hr />
<p>&nbsp;</p>
<p><strong>10. ANONYMITY</strong></p>
<p>You may deal with us using a pseudonym or without providing us with any personal information. Please note however that if you provide a pseudonym or choose to remain anonymous, we may not be able to provide you with certain services which require us to know your correct identity.</p>
<hr />
<p>&nbsp;</p>
<p><strong>11. ACCESS AND CORRECTION</strong></p>
<p>You have certain rights to access personal information we hold about you. To request access to personal information we hold about you, please contact our Privacy Officer. We will generally provide you with access to your personal information subject to some exceptions under the Privacy Act.</p>
<p>We try to ensure that all information we hold about you is accurate and up to date. You can keep your information up to date by letting us know of any changes to your personal information. If you would like to request that we correct or update any personal information we hold about you, you may do so by contacting our Privacy Officer.</p>
<p>We may take reasonable steps to verify your identity before granting access to or correcting your personal information.</p>
<p>Where we no longer require your personal information, we will take reasonable steps to destroy the information or ensure that it is de-identified unless we are required by law to retain the information.</p>
<hr />
<p>&nbsp;</p>
<p><strong>12. PRIVACY ENQUIRIES OR CONCERNS</strong></p>
<p>If you have an enquiry or concern about our privacy practices, you can contact us on the details below. You should include enough information to allow us to identify you and understand your enquiry or concern. All privacy enquiries and concerns will be reviewed, investigated (if required) and responded to within a reasonable timeframe.</p>
<p>If you are not satisfied with our response, you can contact us directly to discuss your concerns or lodge a complaint with the Office of the Australian Information Commissioner by visiting <a href="http://www.oaic.gov.au/" target="_blank" rel="noopener">www.oaic.gov.au</a> or calling <a href="tel:1300 363 992">1300 363 992</a>.</p>
<hr />
<p>&nbsp;</p>
<p><strong>13. CONTACT INFORMATION</strong></p>
<p>If you would like further information about our privacy practices, would like to lodge a request to access or correct your personal information, or would like to contact us regarding any privacy enquiries or concerns, please contact our Privacy Officer at:</p>
<p>Post: Level 2, 6 Palmer Parade, Cremorne, Victoria 3121</p>
<p>Email:<a href="mailto:enquiries@wanderlust.com.au">enquiries@wanderlust.com.au</a></p>
<hr />
<p>&nbsp;</p>
<p><strong>14. UPDATES TO THIS PRIVACY POLICY</strong></p>
<p>This Privacy Policy is effective from May 2021. We reserve the right to update this Privacy Policy at any time without notice and will publish any updated version of our Privacy Policy on our website. You should ensure you are aware of our current Privacy Policy by checking our website regularly.</p>
</div>
</div>
			</div><!-- .entry-content -->

</article><!-- #post-## -->

					
				</main><!-- #main -->
			</div><!-- #primary -->

			<div id="secondary" class="widget-area clearfix" role="complementary">
		<div class="row">
			<div class="sticky-scrolling">
				<aside id="text-13" class="widget widget_text"><h2 class="widget-title">FOLLOW US</h2>			<div class="textwidget"><ul class="social-icons">
				<li><a href="http://facebook.com/wanderlust" target="_blank" rel="noopener"><span class="icon icon-facebook"></span></a></li>
	
			<li><a href="http://twitter.com/wanderlustfest" target="_blank" rel="noopener"><span class="icon icon-twitter"></span></a></li>
	
			<li><a href="http://www.pinterest.com/wanderlustfest" target="_blank" rel="noopener"><span class="icon icon-pinterest"></span></a></li>
	
			<li><a href="http://instagram.com/wanderlustfest" target="_blank" rel="noopener"><span class="icon icon-instagram"></span></a></li>
	
			<li><a href="http://youtube.com/wanderlustfestival" target="_blank" rel="noopener"><span class="icon icon-youtube"></span></a></li>
	</ul>
</div>
		</aside><aside id="text-28" class="widget widget_text">			<div class="textwidget"><p><script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/69492666/WL_article_half-page', [300, 600], 'div-gpt-ad-1549945739515-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script><br />
<!-- /69492666/WL_article_half-page --></p>
<div id="div-gpt-ad-1549945739515-0" style="height: 600px; width: 300px;"><script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1549945739515-0'); });
</script></div>
</div>
		</aside><aside id="text-34" class="widget widget_text">			<div class="textwidget"><p><script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script><br />
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script><br />
<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/69492666/WL_article_medium-rectangle', [300, 250], 'div-gpt-ad-1549945689068-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script><br />
<!-- /69492666/WL_article_medium-rectangle --></p>
<div id="div-gpt-ad-1549945689068-0" style="height: 250px; width: 300px;"><script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1549945689068-0'); });
</script></div>
</div>
		</aside>	</div>
	</div><!-- row -->
	</div><!-- #secondary -->


        </div>
   </div>

    <div class="wrapper-footer">
	<section class="newsletter short" style="background-image:url()">	<div class="newsletter__inner">
						<h2 class="newsletter__caption">Sign up for a weekly delivery of inspiration, exclusive offers, contests and the inside scoop on events.</h2>
				<form action="/" class="newsletter__form js-email-signup-form">
							<input type="hidden" name="audience_id" value="abe58535b7" />
						<div class="newsletter__input-group">
				<div class="input js-psuedo-placeholder">
					<label for="newsletter-email" class="input__label newsletter__form__label">Email</label>
					<input type="email" id="newsletter-email" name="email" class="input__el js-email" required>
				</div>
				<input aria-label="Sign up to the newsletter" type="submit" class="h5 c-white bg-c-red c-hover-red p-tbr u-c-point" value="Submit">
			</div>
			<div class="sign-up__confirm js-email-signup-form-confirm hide">
									<p class="p margin-top-10 sign-up__confirm-text sign-up__confirm-text--success">Thank You! Your profile was successfully updated.</p>
								<p class="p margin-top-10 sign-up__confirm-text sign-up__confirm-text--failure js-email-signup-form-failure"></p>
			</div>
		</form>
	</div>
</section>


	<footer class="global-footer">
		<div class="grid">
			<div class="row">
				<div class="global-footer__col w4">
					<ul class="global-footer__social">
																			<li>
								<a href="http://facebook.com/wanderlust" class="icon-facebook2" target="_blank">
									<span class="screen-reader-text">Link to Facebook</span>
								</a>
							</li>
																			<li>
								<a href="http://twitter.com/wanderlustfest" class="icon-twitter2" target="_blank">
									<span class="screen-reader-text">Link to Twitter</span>
								</a>
							</li>
																			<li>
								<a href="http://instagram.com/wanderlustfest" class="icon-instagram2" target="_blank">
									<span class="screen-reader-text">Link to Instagram</span>
								</a>
							</li>
																			<li>
								<a href="http://www.pinterest.com/wanderlustfest" class="icon-pinterest2" target="_blank">
									<span class="screen-reader-text">Link to Pinterest</span>
								</a>
							</li>
																			<li>
								<a href="http://youtube.com/wanderlustfestival" class="icon-youtube-play" target="_blank">
									<span class="screen-reader-text">Link to Youtube</span>
								</a>
							</li>
																									<li>
								<a href="https://open.spotify.com/user/wanderlustfest" class="icon-spotify" target="_blank">
									<span class="screen-reader-text">Link to Spotify</span>
								</a>
							</li>
											</ul>
				</div>
									<div class="global-footer__col global-footer__col--logo">
													<a href="http://wanderlust.com/b-corporation">
														<div class="global-footer__logo">
									<figure class="global-footer__logo-figure">
										<img alt="Certified B Corporation"   data-src="https://wanderlust.com/wp-content/uploads/2018/04/A_BCorp_logo_NEG.png" class="global-footer__logo-image lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="><noscript><img alt="Certified B Corporation" src="https://wanderlust.com/wp-content/uploads/2018/04/A_BCorp_logo_NEG.png" class="global-footer__logo-image"></noscript>
									</figure>
								</div>
													</a>
											</div>
								<div class="global-footer__col w2">
					<ul id="menu-108-footer-menu-italian" class="global-footer__menu"><li id="menu-item-324656" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-324656"><a href="https://wanderlust.com/wanderlust/contact/">Contact</a></li>
<li id="menu-item-324655" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-324655"><a href="https://wanderlust.com/privacy-policy/" aria-current="page">Privacy</a></li>
</ul>				</div>
				<div class="global-footer__copyright global-footer__col w4"><p>© 2024 Wanderlust.  <a href="/privacy-policy">Privacy</a> | <a href="/terms-of-use">Terms</a></p>
</div>
			</div>
		</div>

		<div class="check-for-mobile-in-javascript"></div>
	</footer>
</div>
		<div class="global-footer__form js-global-footer-form">
			<script type="text/javascript"></script>
                <div class='gf_browser_chrome gform_wrapper gform_legacy_markup_wrapper gform-theme--no-framework' data-form-theme='legacy' data-form-index='0' id='gform_wrapper_41' style='display:none'><style>#gform_wrapper_41[data-form-index="0"].gform-theme,[data-parent-form="41_0"]{--gform-theme-color-primary: #204ce5;--gform-theme-color-primary-rgb: 32, 76, 229;--gform-theme-color-primary-contrast: #fff;--gform-theme-color-primary-contrast-rgb: 255, 255, 255;--gform-theme-color-primary-darker: #001AB3;--gform-theme-color-primary-lighter: #527EFF;--gform-theme-color-secondary: #fff;--gform-theme-color-secondary-rgb: 255, 255, 255;--gform-theme-color-secondary-contrast: #112337;--gform-theme-color-secondary-contrast-rgb: 17, 35, 55;--gform-theme-color-secondary-darker: #F5F5F5;--gform-theme-color-secondary-lighter: #FFFFFF;--gform-theme-color-outside-control-light: rgba(17, 35, 55, 0.1);--gform-theme-color-outside-control-light-rgb: 17, 35, 55;--gform-theme-color-outside-control-light-darker: rgba(104, 110, 119, 0.35);--gform-theme-color-outside-control-light-lighter: #F5F5F5;--gform-theme-color-outside-control-dark: #585e6a;--gform-theme-color-outside-control-dark-rgb: 88, 94, 106;--gform-theme-color-outside-control-dark-darker: #112337;--gform-theme-color-outside-control-dark-lighter: rgba(17, 35, 55, 0.65);--gform-theme-color-inside-control: #fff;--gform-theme-color-inside-control-rgb: 255, 255, 255;--gform-theme-color-inside-control-contrast: #112337;--gform-theme-color-inside-control-contrast-rgb: 17, 35, 55;--gform-theme-color-inside-control-darker: #F5F5F5;--gform-theme-color-inside-control-lighter: #FFFFFF;--gform-theme-color-inside-control-primary: #204ce5;--gform-theme-color-inside-control-primary-rgb: 32, 76, 229;--gform-theme-color-inside-control-primary-contrast: #fff;--gform-theme-color-inside-control-primary-contrast-rgb: 255, 255, 255;--gform-theme-color-inside-control-primary-darker: #001AB3;--gform-theme-color-inside-control-primary-lighter: #527EFF;--gform-theme-color-inside-control-light: rgba(17, 35, 55, 0.1);--gform-theme-color-inside-control-light-rgb: 17, 35, 55;--gform-theme-color-inside-control-light-darker: rgba(104, 110, 119, 0.35);--gform-theme-color-inside-control-light-lighter: #F5F5F5;--gform-theme-color-inside-control-dark: #585e6a;--gform-theme-color-inside-control-dark-rgb: 88, 94, 106;--gform-theme-color-inside-control-dark-darker: #112337;--gform-theme-color-inside-control-dark-lighter: rgba(17, 35, 55, 0.65);--gform-theme-border-radius: 3px;--gform-theme-font-size-secondary: 14px;--gform-theme-font-size-tertiary: 13px;--gform-theme-icon-control-number: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 0C4.26522 5.96046e-08 4.51957 0.105357 4.70711 0.292893L7.70711 3.29289C8.09763 3.68342 8.09763 4.31658 7.70711 4.70711C7.31658 5.09763 6.68342 5.09763 6.29289 4.70711L4 2.41421L1.70711 4.70711C1.31658 5.09763 0.683417 5.09763 0.292893 4.70711C-0.0976311 4.31658 -0.097631 3.68342 0.292893 3.29289L3.29289 0.292893C3.48043 0.105357 3.73478 0 4 0ZM0.292893 9.29289C0.683417 8.90237 1.31658 8.90237 1.70711 9.29289L4 11.5858L6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289C8.09763 9.68342 8.09763 10.3166 7.70711 10.7071L4.70711 13.7071C4.31658 14.0976 3.68342 14.0976 3.29289 13.7071L0.292893 10.7071C-0.0976311 10.3166 -0.0976311 9.68342 0.292893 9.29289Z' fill='rgba(17, 35, 55, 0.65)'/%3E%3C/svg%3E");--gform-theme-icon-control-select: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.097631 1.31658 -0.097631 1.70711 0.292893L5 3.58579L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L5.70711 5.70711C5.31658 6.09763 4.68342 6.09763 4.29289 5.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893Z' fill='rgba(17, 35, 55, 0.65)'/%3E%3C/svg%3E");--gform-theme-icon-control-search: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='640' height='640'%3E%3Cpath d='M256 128c-70.692 0-128 57.308-128 128 0 70.691 57.308 128 128 128 70.691 0 128-57.309 128-128 0-70.692-57.309-128-128-128zM64 256c0-106.039 85.961-192 192-192s192 85.961 192 192c0 41.466-13.146 79.863-35.498 111.248l154.125 154.125c12.496 12.496 12.496 32.758 0 45.254s-32.758 12.496-45.254 0L367.248 412.502C335.862 434.854 297.467 448 256 448c-106.039 0-192-85.962-192-192z' fill='rgba(17, 35, 55, 0.65)'/%3E%3C/svg%3E");--gform-theme-control-border-color: #686e77;--gform-theme-control-size: var(--gform-theme-control-size-md);--gform-theme-control-label-color-primary: #112337;--gform-theme-control-label-color-secondary: #112337;--gform-theme-control-choice-size: var(--gform-theme-control-choice-size-md);--gform-theme-control-checkbox-check-size: var(--gform-theme-control-checkbox-check-size-md);--gform-theme-control-radio-check-size: var(--gform-theme-control-radio-check-size-md);--gform-theme-control-button-font-size: var(--gform-theme-control-button-font-size-md);--gform-theme-control-button-padding-inline: var(--gform-theme-control-button-padding-inline-md);--gform-theme-control-button-size: var(--gform-theme-control-button-size-md);--gform-theme-control-button-border-color-secondary: #686e77;--gform-theme-control-file-button-background-color-hover: #EBEBEB;--gform-theme-field-page-steps-number-color: rgba(17, 35, 55, 0.8);}</style><div id='gf_41' class='gform_anchor' tabindex='-1'></div>
                        <div class='gform_heading'>
                            <h3 class="gform_title">Leave us a message!</h3>
                            <p class='gform_description'>Please send us a note and our team will get back to you shortly.</p>
                        </div><form method='post' enctype='multipart/form-data' target='gform_ajax_frame_41' id='gform_41'  action='/privacy-policy/#gf_41' data-formid='41' novalidate>
                        <div class='gform-body gform_body'><div id='gform_page_41_1' class='gform_page ' data-js='page-field-id-1' >
                                    <div class='gform_page_fields'><ul id='gform_fields_41' class='gform_fields top_label form_sublabel_below description_below'><li id="field_41_1"  class="gfield gfield--type-text gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_1"><label class='gfield_label gform-field-label' for='input_41_1' >Your Name<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_text'><input name='input_1' id='input_41_1' type='text' value='' class='medium'     aria-required="true" aria-invalid="false"   /> </div></li><li id="field_41_3"  class="gfield gfield--type-email gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_3"><label class='gfield_label gform-field-label' for='input_41_3' >Your Email<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_email'>
                            <input name='input_3' id='input_41_3' type='email' value='' class='medium'    aria-required="true" aria-invalid="false"  />
                        </div></li><li id="field_41_4"  class="gfield gfield--type-select gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_4"><label class='gfield_label gform-field-label' for='input_41_4' >Region<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_select'><select name='input_4' id='input_41_4' class='medium gfield_select'    aria-required="true" aria-invalid="false" ><option value='US &amp; Canada' selected='selected'>US &amp; Canada</option><option value='Europe' >Europe</option><option value='Latin America' >Latin America</option><option value='Asia' >Asia</option><option value='Australia &amp; NZ' >Australia &amp; NZ</option></select></div></li><li id="field_41_5"  class="gfield gfield--type-select field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_5"><label class='gfield_label gform-field-label' for='input_41_5' >Country</label><div class='ginput_container ginput_container_select'><select name='input_5' id='input_41_5' class='medium gfield_select'     aria-invalid="false" ><option value='Austria' >Austria</option><option value='France' >France</option><option value='Germany' >Germany</option><option value='Italy' >Italy</option><option value='Netherlands' >Netherlands</option><option value='Portugal' >Portugal</option><option value='Spain' >Spain</option><option value='Switzerland' >Switzerland</option><option value='United Kingdom &amp; Ireland' >United Kingdom &amp; Ireland</option></select></div></li><li id="field_41_7"  class="gfield gfield--type-select field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_7"><label class='gfield_label gform-field-label' for='input_41_7' >Country</label><div class='ginput_container ginput_container_select'><select name='input_7' id='input_41_7' class='medium gfield_select'     aria-invalid="false" ><option value='United States' selected='selected'>United States</option><option value='Canada' >Canada</option></select></div></li><li id="field_41_6"  class="gfield gfield--type-select field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_6"><label class='gfield_label gform-field-label' for='input_41_6' >Country</label><div class='ginput_container ginput_container_select'><select name='input_6' id='input_41_6' class='medium gfield_select'     aria-invalid="false" ><option value='Mexico' >Mexico</option><option value='Argentina' >Argentina</option><option value='Chile' >Chile</option><option value='Colombia' >Colombia</option></select></div></li><li id="field_41_8"  class="gfield gfield--type-select field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_8"><label class='gfield_label gform-field-label' for='input_41_8' >Country</label><div class='ginput_container ginput_container_select'><select name='input_8' id='input_41_8' class='medium gfield_select'     aria-invalid="false" ><option value='Japan' >Japan</option><option value='South Korea' >South Korea</option><option value='Russia' >Russia</option><option value='China' >China</option></select></div></li><li id="field_41_9"  class="gfield gfield--type-select field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_9"><label class='gfield_label gform-field-label' for='input_41_9' >Country</label><div class='ginput_container ginput_container_select'><select name='input_9' id='input_41_9' class='medium gfield_select'     aria-invalid="false" ><option value='Australia' >Australia</option><option value='New Zealand' >New Zealand</option></select></div></li></ul>
                    </div>
                    <div class='gform_page_footer top_label'>
                         <input type='button' id='gform_next_button_41_12' class='gform_next_button gform-theme-button button' value='Next'  onclick='jQuery("#gform_target_page_number_41").val("2");  jQuery("#gform_41").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_41").val("2");  jQuery("#gform_41").trigger("submit",[true]); } ' /> 
                    </div>
                </div>
                <div id='gform_page_41_2' class='gform_page' data-js='page-field-id-12' style='display:none;'>
                    <div class='gform_page_fields'>
                        <ul id='gform_fields_41_2' class='gform_fields top_label form_sublabel_below description_below'><li id="field_41_10"  class="gfield gfield--type-select gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_10"><label class='gfield_label gform-field-label' for='input_41_10' >Topic<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_select'><select name='input_10' id='input_41_10' class='medium gfield_select'    aria-required="true" aria-invalid="false" ><option value='Wanderlust Events' >Wanderlust Events</option><option value='Wanderlust TV' >Wanderlust TV</option><option value='Wanderlust Supplements' >Wanderlust Supplements</option><option value='Other Wanderlust Topic' >Other Wanderlust Topic</option></select></div></li><li id="field_41_11"  class="gfield gfield--type-textarea gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_11"><label class='gfield_label gform-field-label' for='input_41_11' >Message<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_textarea'><textarea name='input_11' id='input_41_11' class='textarea medium'     aria-required="true" aria-invalid="false"   rows='10' cols='50'></textarea></div></li><li id="field_41_13"  class="gfield gfield--type-honeypot gform_validation_container field_sublabel_below gfield--has-description field_description_below gfield_visibility_visible"  data-js-reload="field_41_13"><label class='gfield_label gform-field-label' for='input_41_13' >Email</label><div class='ginput_container'><input name='input_13' id='input_41_13' type='text' value='' autocomplete='new-password'/></div><div class='gfield_description' id='gfield_description_41_13'>This field is for validation purposes and should be left unchanged.</div></li></ul></div>
        <div class='gform_page_footer top_label'><input type='submit' id='gform_previous_button_41' class='gform_previous_button gform-theme-button gform-theme-button--secondary button' value='Previous'  onclick='if(window["gf_submitting_41"]){return false;}  if( !jQuery("#gform_41")[0].checkValidity || jQuery("#gform_41")[0].checkValidity()){window["gf_submitting_41"]=true;}  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_41"]){return false;} if( !jQuery("#gform_41")[0].checkValidity || jQuery("#gform_41")[0].checkValidity()){window["gf_submitting_41"]=true;}  jQuery("#gform_41").trigger("submit",[true]); }' /> <input type='submit' id='gform_submit_button_41' class='gform_button button' value='Submit'  onclick='if(window["gf_submitting_41"]){return false;}  if( !jQuery("#gform_41")[0].checkValidity || jQuery("#gform_41")[0].checkValidity()){window["gf_submitting_41"]=true;}  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_41"]){return false;} if( !jQuery("#gform_41")[0].checkValidity || jQuery("#gform_41")[0].checkValidity()){window["gf_submitting_41"]=true;}  jQuery("#gform_41").trigger("submit",[true]); }' /> <input type='hidden' name='gform_ajax' value='form_id=41&amp;title=1&amp;description=1&amp;tabindex=0&amp;theme=data-form-theme=&#039;legacy&#039;' />
            <input type='hidden' class='gform_hidden' name='is_submit_41' value='1' />
            <input type='hidden' class='gform_hidden' name='gform_submit' value='41' />
            
            <input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
            <input type='hidden' class='gform_hidden' name='state_41' value='WyJbXSIsIjUwMmU1YjdiNTVmNjMzN2M5YjNmNjc4ZmY2ZmM3ZGRmIl0=' />
            <input type='hidden' class='gform_hidden' name='gform_target_page_number_41' id='gform_target_page_number_41' value='2' />
            <input type='hidden' class='gform_hidden' name='gform_source_page_number_41' id='gform_source_page_number_41' value='1' />
            <input type='hidden' name='gform_field_values' value='' />
            
        </div>
                        </div></div>
                        </form>
                        </div>
		                <iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_41' id='gform_ajax_frame_41' title='This iframe contains the logic required to handle Ajax powered Gravity Forms.'></iframe>
		                <script type="text/javascript">
gform.initializeOnLoaded( function() {gformInitSpinner( 41, 'https://wanderlust.com/wp-content/plugins/gravityforms/images/spinner.svg', true );jQuery('#gform_ajax_frame_41').on('load',function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_41');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_41').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100;if(is_form){jQuery('#gform_wrapper_41').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_41').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_41').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_41').offset().top - mt); }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_41').val();gformInitSpinner( 41, 'https://wanderlust.com/wp-content/plugins/gravityforms/images/spinner.svg', true );jQuery(document).trigger('gform_page_loaded', [41, current_page]);window['gf_submitting_41'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html();if(!confirmation_content){confirmation_content = contents;}setTimeout(function(){jQuery('#gform_wrapper_41').replaceWith(confirmation_content);jQuery(document).scrollTop(jQuery('#gf_41').offset().top - mt);jQuery(document).trigger('gform_confirmation_loaded', [41]);window['gf_submitting_41'] = false;wp.a11y.speak(jQuery('#gform_confirmation_message_41').text());}, 50);}else{jQuery('#gform_41').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger('gform_post_render', [41, current_page]);gform.utils.trigger({ event: 'gform/postRender', native: false, data: { formId: 41, currentPage: current_page } });} );} );
</script>
		</div>
	</div>
	<script>
		(function(d) {
			var config = {
					kitId: 'rsg7tkk',
					scriptTimeout: 3000,
					async: true
				},
				h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
		})(document);
	</script>
    <script type="text/javascript">
      var WL = {};
      window.BARREL_URL = 'https://wanderlust.com/wp-content/themes/wanderlust/__barrel__';      window.ns = '__WL__';
      window[ns] = {};
    </script>

    
    
    	<div id="fb-root"></div>
	<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=149880731756368&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>

	<script type="text/javascript">
	window.twttr = (function (d, s, id) {
		var t, js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js, fjs);
		return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
	}(document, "script", "twitter-wjs"));
	</script>
	<!-- Refersion Tracking -->
	<script src="//wanderlust.refersion.com/tracker/v3/pub_526c6c47e3e31fe2f658.js"></script>
	<script>_refersion();</script>

	<link rel='stylesheet' id='gravity_forms_theme_foundation-css' href='https://wanderlust.com/wp-content/plugins/gravityforms/assets/css/dist/gravity-forms-theme-foundation.min.css?ver=2.7.17' type='text/css' media='all' />
<link rel='stylesheet' id='gravity_forms_theme_reset-css' href='https://wanderlust.com/wp-content/plugins/gravityforms/assets/css/dist/gravity-forms-theme-reset.min.css?ver=2.7.17' type='text/css' media='all' />
<link rel='stylesheet' id='gravity_forms_theme_framework-css' href='https://wanderlust.com/wp-content/plugins/gravityforms/assets/css/dist/gravity-forms-theme-framework.min.css?ver=2.7.17' type='text/css' media='all' />
<link rel='stylesheet' id='gravity_forms_orbital_theme-css' href='https://wanderlust.com/wp-content/plugins/gravityforms/assets/css/dist/gravity-forms-orbital-theme.min.css?ver=2.7.17' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_reset_css-css' href='https://wanderlust.com/wp-content/plugins/gravityforms/legacy/css/formreset.min.css?ver=2.7.17' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_formsmain_css-css' href='https://wanderlust.com/wp-content/plugins/gravityforms/legacy/css/formsmain.min.css?ver=2.7.17' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_ready_class_css-css' href='https://wanderlust.com/wp-content/plugins/gravityforms/legacy/css/readyclass.min.css?ver=2.7.17' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_browsers_css-css' href='https://wanderlust.com/wp-content/plugins/gravityforms/legacy/css/browsers.min.css?ver=2.7.17' type='text/css' media='all' />
<script type='text/javascript' defer="defer" src='https://wanderlust.com/wp-content/themes/wanderlust/js/vendor/modernizr.custom.68368.min.js?ver=6.2.2' id='modernizr-js'></script>
<script type='text/javascript' defer="defer" src='https://wanderlust.com/wp-content/themes/wanderlust/js/min/main.min.js?ver=6.2.2' id='main-js'></script>
<script type='text/javascript' defer="defer" src='https://wanderlust.com/wp-content/themes/wanderlust/js/min/global.min.js?ver=6.2.2' id='global-js'></script>
<script type='text/javascript' src='https://wanderlust.com/wp-content/plugins/wp-smush-pro/app/assets/js/smush-lazy-load.min.js?ver=3.15.3' id='smush-lazy-load-js'></script>
<script type='text/javascript' src='https://wanderlust.com/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.9' id='regenerator-runtime-js'></script>
<script type='text/javascript' src='https://wanderlust.com/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0' id='wp-polyfill-js'></script>
<script type='text/javascript' src='https://wanderlust.com/wp-includes/js/dist/dom-ready.min.js?ver=392bdd43726760d1f3ca' id='wp-dom-ready-js'></script>
<script type='text/javascript' src='https://wanderlust.com/wp-includes/js/dist/hooks.min.js?ver=4169d3cf8e8d95a3d6d5' id='wp-hooks-js'></script>
<script type='text/javascript' src='https://wanderlust.com/wp-includes/js/dist/i18n.min.js?ver=9e794f35a71bb98672ae' id='wp-i18n-js'></script>
<script type='text/javascript' id='wp-i18n-js-after'>
wp.i18n.setLocaleData( { 'text direction\u0004ltr': [ 'ltr' ] } );
</script>
<script type='text/javascript' src='https://wanderlust.com/wp-includes/js/dist/a11y.min.js?ver=ecce20f002eda4c19664' id='wp-a11y-js'></script>
<script type='text/javascript' defer='defer' src='https://wanderlust.com/wp-content/plugins/gravityforms/js/jquery.json.min.js?ver=2.7.17' id='gform_json-js'></script>
<script type='text/javascript' id='gform_gravityforms-js-extra'>
/* <![CDATA[ */
var gform_i18n = {"datepicker":{"days":{"monday":"Mo","tuesday":"Tu","wednesday":"We","thursday":"Th","friday":"Fr","saturday":"Sa","sunday":"Su"},"months":{"january":"January","february":"February","march":"March","april":"April","may":"May","june":"June","july":"July","august":"August","september":"September","october":"October","november":"November","december":"December"},"firstDay":1,"iconText":"Select date"}};
var gf_legacy_multi = [];
var gform_gravityforms = {"strings":{"invalid_file_extension":"This type of file is not allowed. Must be one of the following:","delete_file":"Delete this file","in_progress":"in progress","file_exceeds_limit":"File exceeds size limit","illegal_extension":"This type of file is not allowed.","max_reached":"Maximum number of files reached","unknown_error":"There was a problem while saving the file on the server","currently_uploading":"Please wait for the uploading to complete","cancel":"Cancel","cancel_upload":"Cancel this upload","cancelled":"Cancelled"},"vars":{"images_url":"https:\/\/wanderlust.com\/wp-content\/plugins\/gravityforms\/images"}};
var gf_global = {"gf_currency_config":{"name":"U.S. Dollar","symbol_left":"$","symbol_right":"","symbol_padding":"","thousand_separator":",","decimal_separator":".","decimals":2,"code":"USD"},"base_url":"https:\/\/wanderlust.com\/wp-content\/plugins\/gravityforms","number_formats":[],"spinnerUrl":"https:\/\/wanderlust.com\/wp-content\/plugins\/gravityforms\/images\/spinner.svg","version_hash":"1bde1e56642be8c67cd0a71d9e5b2dce","strings":{"newRowAdded":"New row added.","rowRemoved":"Row removed","formSaved":"The form has been saved.  The content contains the link to return and complete the form."}};
/* ]]> */
</script>
<script type='text/javascript' defer='defer' src='https://wanderlust.com/wp-content/plugins/gravityforms/js/gravityforms.min.js?ver=2.7.17' id='gform_gravityforms-js'></script>
<script type='text/javascript' id='gform_conditional_logic-js-extra'>
/* <![CDATA[ */
var gf_legacy = {"is_legacy":"1"};
/* ]]> */
</script>
<script type='text/javascript' defer='defer' src='https://wanderlust.com/wp-content/plugins/gravityforms/js/conditional_logic.min.js?ver=2.7.17' id='gform_conditional_logic-js'></script>
<script type='text/javascript' defer='defer' src='https://wanderlust.com/wp-content/plugins/gravityforms/assets/js/dist/utils.min.js?ver=59d951b75d934ae23e0ea7f9776264aa' id='gform_gravityforms_utils-js'></script>
<script type='text/javascript' defer='defer' src='https://wanderlust.com/wp-content/plugins/gravityforms/assets/js/dist/vendor-theme.min.js?ver=4ef53fe41c14a48b294541d9fc37387e' id='gform_gravityforms_theme_vendors-js'></script>
<script type='text/javascript' id='gform_gravityforms_theme-js-extra'>
/* <![CDATA[ */
var gform_theme_config = {"common":{"form":{"honeypot":{"version_hash":"1bde1e56642be8c67cd0a71d9e5b2dce"}}},"hmr_dev":"","public_path":"https:\/\/wanderlust.com\/wp-content\/plugins\/gravityforms\/assets\/js\/dist\/"};
/* ]]> */
</script>
<script type='text/javascript' defer='defer' src='https://wanderlust.com/wp-content/plugins/gravityforms/assets/js/dist/scripts-theme.min.js?ver=f4d12a887a23a8c5755fd2b956bc8fcf' id='gform_gravityforms_theme-js'></script>
<script type="text/javascript">
gform.initializeOnLoaded( function() { jQuery(document).on('gform_post_render', function(event, formId, currentPage){if(formId == 41) {gf_global["number_formats"][41] = {"1":{"price":false,"value":false},"3":{"price":false,"value":false},"4":{"price":false,"value":false},"5":{"price":false,"value":false},"7":{"price":false,"value":false},"6":{"price":false,"value":false},"8":{"price":false,"value":false},"9":{"price":false,"value":false},"12":{"price":false,"value":false},"10":{"price":false,"value":false},"11":{"price":false,"value":false},"13":{"price":false,"value":false}};if(window['jQuery']){if(!window['gf_form_conditional_logic'])window['gf_form_conditional_logic'] = new Array();window['gf_form_conditional_logic'][41] = { logic: { 5: {"field":{"actionType":"show","logicType":"all","rules":[{"fieldId":"4","operator":"is","value":"Europe"}],"enabled":true},"nextButton":null,"section":null},7: {"field":{"actionType":"show","logicType":"all","rules":[{"fieldId":"4","operator":"is","value":"US & Canada"}],"enabled":true},"nextButton":null,"section":null},6: {"field":{"actionType":"show","logicType":"all","rules":[{"fieldId":"4","operator":"is","value":"Latin America"}],"enabled":true},"nextButton":null,"section":null},8: {"field":{"actionType":"show","logicType":"all","rules":[{"fieldId":"4","operator":"is","value":"Asia"}],"enabled":true},"nextButton":null,"section":null},9: {"field":{"actionType":"show","logicType":"all","rules":[{"fieldId":"4","operator":"is","value":"Australia & NZ"}],"enabled":true},"nextButton":null,"section":null} }, dependents: { 5: [5],7: [7],6: [6],8: [8],9: [9] }, animation: 0, defaults: {"4":"US & Canada","7":"United States"}, fields: {"1":[],"3":[],"4":[5,7,6,8,9],"5":[],"7":[],"6":[],"8":[],"9":[],"12":[],"10":[],"11":[],"13":[]} }; if(!window['gf_number_format'])window['gf_number_format'] = 'decimal_dot';jQuery(document).ready(function(){gform.utils.trigger({ event: 'gform/conditionalLogic/init/start', native: false, data: { formId: 41, fields: null, isInit: true } });window['gformInitPriceFields']();gf_apply_rules(41, [5,7,6,8,9], true);jQuery('#gform_wrapper_41').show();jQuery(document).trigger('gform_post_conditional_logic', [41, null, true]);gform.utils.trigger({ event: 'gform/conditionalLogic/init/end', native: false, data: { formId: 41, fields: null, isInit: true } });} );} } } );jQuery(document).on('gform_post_conditional_logic', function(event, formId, fields, isInit){} ) } );
</script>
<script type="text/javascript">
gform.initializeOnLoaded( function() {jQuery(document).trigger('gform_post_render', [41, 1]);gform.utils.trigger({ event: 'gform/postRender', native: false, data: { formId: 41, currentPage: 1 } });} );
</script>
  </body>
</html>
